[defaults]
ask_pass = True
inventory = hosts
retry_files_enabled = False
remote_port = 22

callback_whitelist = ansible.posix.profile_tasks, ansible.posix.timer, counter_enabled

stdout_callback = counter_enabled

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
